@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --white: #fafafa;
    --black: #121212;
    --lightblack: #212121;
    --blue: #023e8a;
    --lightblue: #5eecbf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--black);
    color: var(--white);
}

nav {
    background-color: var(--blue);
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo {
    height: 50px;
    width: auto;
}

.logo-text {
    font-size: 24px;
    font-weight: 600;
    margin-left: 10px;
    text-align: left;
}

.nav-links {
    margin-left: auto;
}

.nav-links li {
    font-weight: 600;
    display: inline;
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    transition: 0.1s ease-out;
}

.nav-links li a:hover {
    color: var(--lightblue);
}

#about {
    background-image: linear-gradient(to bottom, var(--blue), var(--black));
    text-align: center;
    padding: 100px 15%;
}

#about h1 {
    font-size: 40px;
}

#about p {
    margin-bottom: 20px;
}

#about a {
    background-color: var(--black);
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: var(--white);
    transition: 0.1s ease-out;
}

#about a:hover {
    color: var(--lightblue);
    border-radius: 15px;
}

#info {
    text-align: center;
}

#info h2 {
    margin-top: 50px;
}

#info > p {
    margin: 0 5%;
}

#info ul {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-card {
    background-color: var(--lightblack);
    width: 8em;
    color: var(--white);
    border-radius: 12px;
    margin: 20px;
    padding: 30px 0;
}

.info-card i {
    font-size: 40px;
}

.info-card p {
    font-weight: 500;
    margin: 5px;
}

#projects {
    margin-top: 100px;
    text-align: center;
}

#projects h2 {
    font-size: 40px;
}

.project-card {
    height: 600px;
    padding: 15px;
    margin: 0 15%;
    display: flex;
    justify-content: center;
}

.project-card img {
    object-fit: cover;
    max-height: 100%;
    width: 130%;
}

.project-card-details {
    background-image: linear-gradient(to top left, var(--blue), var(--lightblack));
    display: grid;
    padding: 40px;
    width: 100%;
}

.project-card-details h3 {
    font-size: 2.5vw;
    line-height: 3vw;
}

.project-card-details p {
    padding: 10% 5%;
    text-align: left;
    font-size: 1vw;
}

.project-card-details a {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 3em;
    text-decoration: none;
    font-size: 2vw;
    color: var(--white);
    background-color: var(--black);
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: 500;
    transition: 0.1s ease-out;
}

.project-card div a:hover {
    color: var(--lightblue);
    border-radius: 40px;
}

@media(orientation: portrait) {
    .project-card {
        height: 600px;
        display: flex;
        flex-direction: column;
        margin: 20vw 5%;
        padding: 0;
    }

    .project-card img {
        width: 100%;
    }

    .project-card-details {
        display: grid;
        padding: 10%;
    }

    .project-card-details h3 {
        font-size: 7vw;
        line-height: 1.25em;
    }

    .project-card-details p {
        font-size: 4vw;
    }

    .project-card-details a {
        font-size: 5vw;
    }
}

#soon {
    background-image: linear-gradient(to bottom, var(--black), var(--blue));
    margin-top: 20px;
    font-size: 3vh;
    padding: 50px;
    text-align: center;
}

@media(orientation: portrait) {
    #soon {
        font-size: 2.5vh
    }
}

#contact {
    padding: 30px;
    background-color: var(--blue);
    text-align: right;
}

#contact li {
    list-style: none;
}

#contact li a {
    color: var(--white);
}